.all
{
  /* background: linear-gradient(30deg,#302b41, #346f7a,rgb(40, 46, 160),#7d83ad,#20211f); */
  background-color: rgb(255, 255, 255);
  width: 100%;
  height:100vh; 
}
.ajout
{
 background-color: rgb(19, 240, 38);
 width:100%;
 height:10vh;
}
.cont1
{
    background-color: white;
    width:95%;
    height:auto;
    margin-left:3%;
    margin-top:10vh;
    margin-bottom:2vh;
}

h1
{
    /* margin-left:2%; */
}
table
{
   width:90%;
   border-collapse: collapse;
   margin-top:2%;
   
}
table td,th
 {
    border: 1px solid #d3d8d5;

 }

th
{
    width:6%;
    height:4vh;
    background-color: #f9f5f5;
}
td
{
    width:20%;
    height:6vh;
}
.nav
{
    
  background: linear-gradient(30deg,#05e94a, #06dd29,rgb(10, 235, 148),#08e65d,#498a08);
  width:100%;
  height:10vh;
  margin-top:2%;

}

Button.btn {
  background-color: rgb(99, 160, 8);
  color:#f9f5f5;
  border:none;
  padding:10px 20px;
  font-size: 16 px;
  cursor:pointer;
  border-radius: 5px;

}
